
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.hero-container a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.hero-container .Admin-button,
.hero-container .participant-button { 
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-container .Admin-button {
  background-color: #007bff;
  color: white;
}
.hero-container .participant-button {
  background-color: #28a745;
  color: white;
}
